
<div class="row">
   <div>
                    <ul >
                        <li class="list-group-item" ng-repeat="video in videos">
             <a href="#/edit/{{video.id}}">{{video.name}}</a>
               <div class="pull-right action-buttons">
                <a href="#/edit/{{video.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
                <a ng-click="remove(video.id)" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
                
             </div>
         </li>

      </ul>

   </div>
 
</div>
